.sign-out {
  width: 50px;
  height: 50px;
  background: #DBDCDD;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 125px;
  right: 20px;
  
  img {
      width: 30px;
  }
}